<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../static/pics/favicon.ico" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awsome -->
    <script
      src="https://kit.fontawesome.com/723ba02187.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />

    <!-- Bootstrap Scrips -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>

    <title>{{title}}</title>
  </head>

  <body class="h-100">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="invalid_login container">
          <!-- ==== === ===== -->
          <!-- ==== Form ===== -->
          <form class="form_border">
            <div class="form-group">
              <h1 class="big-heading">{{error_header}}</h1>
            </div>
            <div style="padding-bottom: 25px">
              <img
                src="https://media4.giphy.com/media/aYpmlCXgX9dc09dbpl/200w.webp?cid=ecf05e47lqchjk113p9o4tphyvn4n88bh3iv6abay8wuyu2o&rid=200w.webp&ct=g"
                alt=""
              />
            </div>
            <div class="form-group">
              <h3 class="description">{{error_description}}</h3>
            </div>

            <div class="container form-group">
              <button
                type="submit"
                class="colored-section col-md-4 btn btn-primary btn-customized mt-4"
                name="login"
                {% if Login == 'Store'%}
                  action="/store"
                {% else%}
                  action="/loginError"
                {% endif%}
              >
                {{Login}}
              </button>

              <button
                type="submit"
                class="colored-section col-md-4 btn btn-primary btn-customized mt-4"
                name="cancel"
                action="/loginError"
              >
                cancel
              </button>
            </div>
          </form>
          <!-- Form end -->
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
